:root {
    --theme1: #2D060B;
    --theme2: #92243D;
    --theme3: #d4324a;
    --theme4: #FBA7AA;
    --theme5: #800D98;
    --theme-radius: 8px;
    --theme-border-style: 3px solid #d4324a;
}

body{
    background-color: #800D98;
}

a {
    text-decoration: none;
    color: var(--theme1)
}

/* div {
    border: 2px solid blue;
} */

.nav-card-style {
    border: var(--theme-border-style);
    background-color: #FBA7AA;
    border-radius: var(--theme-radius);
    height: auto;
}

.profile-img{
    background-image: url(../images/ksd-profile-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 240px;
    width: 240px;
    border: var(--theme-border-style);
    border-radius: var(--theme-radius);
}

.cool-subtitle{
    background-color: var(--theme5);
    color: var(--theme4);
    border: var(--theme-border-style);
    border-radius: var(--theme-radius);
    width: 23rem;
}

.main-content-style{
    border: var(--theme-border-style);
    border-radius: var(--theme-radius);
    color: var(--theme5);
    background-color: var(--theme4);
    width: calc(100% - 2rem);
}

.custom-bg{
    width: 8rem;
    height:12rem;
    background-color: bisque;
    margin: 0.5rem;
    padding: 0.5rem;
    opacity: 0.8;
}

.shadow-effect{
    transition: all 0.4s ease-in-out;
    border: var(--theme-border-style);
    border-radius: var(--theme-radius);
}

.shadow-effect:hover{
    box-shadow:
    inset 0px 0px 16px rgb(68, 14, 43),
    0px 0px 23px rgb(46, 2, 26);
}

.accordion{
    border: var(--theme-border-style);
    border-radius: var(--theme-radius);
}

.accordion-button{
    color: var(--theme5)!important;
    background-color: var(--theme4)!important;
}

.accordion-body{
    color: var(--theme5);
    background-color: var(--theme4);
}

ul li{ 
    list-style: none;
}

@media only screen and (max-width: 460px){
    body{
        min-width: 130%;
    }
}